# dependencies
node_modules

# python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# sst
.sst

# tmp files
.#*

# env 
.env*.local
.env
env

# opennext
.open-next

# misc
.DS_Store
.idea

.output
.tanstack

tmp
documents-export
exports
